body {
	font-family: Arial, sans-serif;
	background-color: #333333;
	background-image: url('pattern.png');
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	overflow-wrap: break-word;
}

aside {
	height: calc(100%);
	color: white;
	display: flex;
	flex-direction: column;
	opacity: 100%;
	max-width: 268px;
	min-width: 268px;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.8);
	background-color: #222222;
}

aside header {
	display: flex;
	padding: 0 10px;
	justify-content: center;
	border-bottom: 1px solid white;
	background-color: #2b629a;
}

aside header img {
	width: 80%;
	margin: 15px;
}

aside nav {
	flex: 100%;
	display: flex;
	flex-direction: column;
}

aside nav a {
	padding: 20px 35px 20px 35px;
	text-decoration: none;
	color: white;
	background-color: #333333;
	cursor: pointer;
	text-decoration: none;
}

aside nav a:hover {
	background-color: #444444;
}

aside nav details {
	display: flex;
	background-color: #333333;
}

aside nav details summary {
	padding: 20px 35px 20px 20px;
	cursor: pointer;
	text-decoration: none;
	color: #69ffba;
}

aside nav details summary:hover {
	background-color: #444444;
}

aside nav a.sub.admin {
	padding: 15px 40px;
	background-color: #222222;
}

aside nav a.sub.admin:hover {
	background-color: #53616f;
}

aside footer {
	display: flex;
	flex-direction: column;
}

aside footer button {
	border: none;
	text-align: left;
	font-size: inherit;
	cursor: pointer;
	padding: 20px 35px;
	text-decoration: none;
	color: #d9534f;
	background-color: #222222;
}

aside footer button:hover {
	color: #ff726c;
}

main {
	height: calc(100%);
	flex: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 500px;
	background-color: rgba(51, 51, 51, 0.75);
}

section h1 {
	text-align: center;
}

section h2 i {
	color: #3e8edc;
}

section {
	background-color: #222222;
	padding: 20px;
	box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.8);
	width: 300px;
	text-align: center;
	color: white;
}

section header {
	display: flex;
	justify-content: center;
}

section header img {
	width: 80%;
	margin: 15px;
}

section .results {
	background-color: #333333;
	margin: 5px;
	display: flex;
	flex-direction: column;
}

section .results a {
	padding: 5px;
	color: #3e8edc;
	text-decoration: none;
	border: 1px solid #555555;
}

section .content img {
	width: 50%;
}

section .content .admin {
	padding: 10px;
}

section .content .admin a {
	color: white;
	text-decoration: none;
	padding: 15px;
	border-radius: 5px;
}

section .content .buttons {
	display: flex;
	justify-content: center;
}

section .content .buttons .admin.normal a {
	background-color: #2b629a;
}

section .content .buttons .admin.critical a {
	background-color: #d9534f;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	display: block;
	padding: 8px;
	color: #ffffff;
}

input[type="text"], input[type="password"] {
	padding: 8px;
	margin: 15px auto;
	width: 90%;
	border: 1px solid #aaaaaa;
	border-radius: 5px;
}

input[type="submit"] {
	font-weight: bold;
	padding: 10px;
	margin: 10px auto;
	width: 96%;
	border: 1px solid #0055cc;
	border-radius: 5px;
	cursor: pointer;
	color: #ffffff;
	background-color: #007bff;
}

input[type="submit"]:hover {
	background-color: #3e8edc;
}

input[type="submit"].critical {
	background-color: #d9534f;
	border: 1px solid #cc5500;
}

input[type="submit"].critical:hover {
	background-color: #ff726c;
}

select {
	padding: 8px;
	margin: 15px auto;
	width: 96%;
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	resize: none;
}

textarea {
	padding: 8px;
	margin: 15px auto;
	width: 90%;
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	resize: none;
}

.results {
	text-align: left;
}

.results p {
	text-align: center;
}

.results a {
	color: #55aaff;
}

.multi {
	text-align: left;
}

.multi p {
	text-align: center;
}

.message {
	text-align: center;
	margin: 12px 0;
}

.ok {
	color: #40ef80;
}

.err {
	color: #d9534f;
}

.info {
	color: #6ac9fc;
}
